@import 'tailwindcss';

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@theme {
  --font-sans:
    'Pretendard-Regular', 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --color-light-red: #f95b6e;
  --color-red: #f3233c;
  --color-blue: #2948ff;
  --color-light-blue: #5988ff;
  --color-bg-0: #121212;
  --color-white-87: rgba(255, 255, 255, 0.87);
}

html,
body {
  @apply bg-bg-0 text-white-87;
}
